<div *ngIf="user$ | async as user" fxLayout="row" fxLayoutGap="5px">
  <ng-container *ngIf="user.authenticated; else logInButton">
    <button mat-button [matMenuTriggerFor]="menu">{{user.username}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              routerLink="users/{{user.id}}"
      >
        Профиль
      </button>
      <button mat-menu-item
              routerLink="user/schedule"
      >
        Расписание
      </button>
      <button mat-menu-item
              routerLink="user/dashboard"
      >
        Панель управления
      </button>
      <button mat-menu-item
              (click)="handleLogoutClick()"
      >
        Выйти
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #logInButton>
    <a class="loginButton"
      mat-flat-button
      color="accent"
      routerLink="login"
    >
      Log In
    </a>
    <a class="registerButton"
      mat-flat-button
      color="accent"
      routerLink="register"
    >Register
    </a>
  </ng-template>
</div>
