<div *ngIf="user$ | async as user">
  <ng-container *ngIf="user.authenticated; else logInButton">
    <button mat-button [matMenuTriggerFor]="menu">{{user.username}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              routerLink="user"
      >
        Профиль
      </button>
      <button mat-menu-item
              routerLink="user/schedule"
      >
        Расписание
      </button>
      <button mat-menu-item
              (click)="handleLogoutClick()"
      >
        Выйти
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #logInButton>
    <a *ngIf="!user.authenticated"
       mat-flat-button
       color="accent"
       routerLink="login"
    >
      Log In
    </a>
  </ng-template>
</div>
