<div *ngFor="let event of events">
<mat-card >
    <mat-card-header>
      <mat-card-title>
        {{event.eventName}}
        <br>
        {{event.eventType}}
      </mat-card-title>
    </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
        {{event.details.location}}
    <br>
    <div *ngIf="event.details.shortHtmlDescription != undefined">
      {{event.details.shortHtmlDescription}}
    </div>
    </mat-card-content>
  <mat-card-actions *ngIf="true">
    <button
      mat-button
      (click)="addInSchedule()">
      Add in schedule
    </button>
    <button
      mat-button
      (click)="addInSchedule()">
      Go to event page for more information
    </button>
  </mat-card-actions>
</mat-card>
  <br>
</div>
