<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{event.eventName}}
    </mat-card-title>
    <mat-card-subtitle>
      {{event.eventType | eventType}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <p>{{event.details.location}}</p>
    <br>
    <div *ngIf="event.details.shortHtmlDescription != undefined"
         [innerHTML]="event.details.shortHtmlDescription">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button  routerLink="/about-event/{{event.eventId}}">
      Show more about {{event.eventName}}
    </a>
    <button mat-button>
      Add in  schedule
    </button>
  </mat-card-actions>
</mat-card>
