<div class="login">
  <form [formGroup]="form">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Никнейм</mat-label>
            <input matInput
                   formControlName="username">
            <mat-error *ngIf="form.get('username').hasError('required')"
            >Укажите никнейм
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput
                   [type]="hidePassword ? 'password' : 'text'"
                   formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')"
            >Укажите пароль
            </mat-error>
            <button mat-icon-button matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-error *ngIf="form.get('username').hasError('login-incorrect')"
          >Некорректные данные
          </mat-error>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary"
                class="login-button"
                [disabled]="!form.valid"
                (click)="login(form.value)">
          Войти
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
