p {
  font-family: Lato;
}
.user-card {
  max-width: 100%;
  margin: 10px;
  background-color:thistle;
}

.user-image {
  background-size: cover;
}
.user-icon{
  color: gray;
  margin-left: 200px;
}



