.conference-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 600px;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.image {
  max-height: 300px;
  max-width: 400px;
  margin-bottom: 10px;
}

.md-card-actions {
  margin-top:auto;
}

#search {
  width: 832px !important;
  margin-top: 10px;
}
