<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
      {{conference.conferenceName}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <h3>Location:</h3>
    {{conference.details.location}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h2>About {{conference.conferenceName}}</h2>
    <mat-divider></mat-divider>
    <br>
    <div>
      {{conference.details.htmlDescription}}
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="true">
    <a mat-button style="font-size: 200%">
      some button
    </a>
  </mat-card-actions>
<!--  <app-events></app-events>-->
</mat-card>
