<div *ngFor="let conference of conferences">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        {{conference.conferenceName}}
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br>
      {{conference.details.location}}
      <br>
    </mat-card-content>
    <mat-card-actions *ngIf="true">
      <a mat-button  routerLink="/about-conference/{{conference.conferenceId}}">
        Show more about {{conference.conferenceName}}
      </a>
    </mat-card-actions>
  </mat-card>
  <br>
</div>

