<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
        {{event.eventName}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <h3>Location:</h3>
    {{event.details.location}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h2>About {{event.eventName}}</h2>
    <mat-divider></mat-divider>
    <br>
    <div [innerHTML]="event.details.htmlDescription">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button  routerLink="/conferences/{{event.conferenceId}}">
      Перейти к конференции
    </a>
  </mat-card-actions>
</mat-card>

