<form [formGroup]="form">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <mat-label>Conference name</mat-label>
        <input matInput
               [required]="true"
               formControlName="conferenceName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput
               [required]="true"
               formControlName="location">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date start</mat-label>
        <input matInput
               type="date"
               [required]="true"
               formControlName="dateStart">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date end</mat-label>
        <input matInput
               type="date"
               [required]="true"
               formControlName="dateEnd">
      </mat-form-field>

      <editor [required]="true"
              formControlName="htmlDescription"
              apiKey="ik6qhdx6rm6ow9n0uy0y0xupyffdha7llh0nfxpuw2q15dw5"
              [init]="{plugins: 'link'}">
      </editor>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent"
              [disabled]="!form.valid"
              (click)="createNewConference(form.value)">
        Create
      </button>
    </mat-card-actions>
  </mat-card>
</form>
