<mat-toolbar color="primary">
  <a mat-button routerLink="/">
    <h1>
      Conference project
    </h1>
  </a>
  <a mat-button routerLink="events">
    All events
  </a>
  <a mat-button routerLink="conferences">
    Conferences
  </a>
  <button mat-button (click)="openCreateConference()">
    Create new conference
  </button>
  <button mat-button (click)="hideCreateConference()" *ngIf="createConferenceVision">
    Close create new conference
  </button>
</mat-toolbar>
<app-create-new-conference *ngIf="createConferenceVision"></app-create-new-conference>
<div class="content">
  <router-outlet></router-outlet>
</div>
