<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{this.event.eventName}}
    </mat-card-title>
    <mat-card-subtitle>
      {{this.event.eventType | eventType}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <p>{{this.event.details.location}}</p>
    <br>
    <div *ngIf="this.event.details.shortHtmlDescription != undefined"
         [innerHTML]="this.event.details.shortHtmlDescription">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button  routerLink="/events/{{this.event.eventId}}">
      Больше информации о {{this.event.eventName}}
    </a>
    <ng-container *ngIf="currentUser.isAuthorized()">
    <ng-container *ngIf="scheduled() | async; else add">
      <button mat-stroked-button (click)="removeFromSchedule()">
        Удалить из расписания
      </button>
    </ng-container>

    <ng-template #add>
      <button mat-stroked-button (click)="addInSchedule()">
        Добавить в расписание
      </button>
    </ng-template>
    <ng-container *ngIf="isDashboardMode">
      <ng-container *ngIf="!changeEventVisible; else add">
        <button mat-stroked-button (click)="showChangeEvent()">
          Редактировать ивент
        </button>
      </ng-container>
      <ng-template #add>
        <button mat-stroked-button (click)="hideChangeEvent()">
          Отмена
        </button>
      </ng-template>
      <button mat-stroked-button color="accent" (click)="deleteThisEvent()">
        Удалить ивент
      </button>
      </ng-container>
    </ng-container>
  </mat-card-actions>
  <ng-container *ngIf="isDashboardMode">

    <app-event-editor *ngIf="changeEventVisible"
                      (endChanging)="changeEvent($event)"
                      [event]="event"
                      [conferenceId]="event.conferenceId">
    </app-event-editor>

  </ng-container>
</mat-card>
