<mat-card id="event">
  <mat-card-header>
    <mat-card-title>
      {{this.event.eventName}}
    </mat-card-title>
    <mat-card-subtitle>
      {{this.event.eventType | eventType}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Время начала: {{event.details.timeStart | date: 'EEEE, d MMMM, y, h:mm':'UTC+3':'ru'}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Время окончания: {{event.details.timeEnd | date: 'EEEE, d MMMM, y, h:mm':'UTC+3': 'ru'}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <p>{{this.event.details.location}}</p>
    <br>
    <div *ngIf="this.event.details.shortHtmlDescription != undefined"
         [innerHTML]="this.event.details.shortHtmlDescription">
    </div>
    <mat-divider></mat-divider>
    <br>
    <div>Спикеры:</div>
    <br>
    <div fxLayout="row wrap"
         fxLayoutGap="35px">
      <app-speaker id="speaker-card" *ngFor="let speaker of speakers" [user]="speaker"></app-speaker>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-stroked-button routerLink="/events/{{this.event.eventId}}">
      Больше информации
    </a>
    <ng-container *ngIf="currentUser.isAuthorized()">
    <ng-container *ngIf="scheduled() | async; else add">
      <button mat-stroked-button (click)="removeFromSchedule()">
        Удалить из расписания
      </button>
    </ng-container>

    <ng-template #add>
      <button mat-stroked-button (click)="addInSchedule()">
        Добавить в расписание
      </button>
    </ng-template>
    <ng-container *ngIf="isDashboardMode">
      <ng-container *ngIf="!changeEventVisible; else cancelEventEditor">
        <button mat-stroked-button (click)="showChangeEvent()">
          Редактировать ивент
        </button>
      </ng-container>
      <ng-template #cancelEventEditor>
        <button mat-stroked-button (click)="hideChangeEvent()">
          Отмена
        </button>
      </ng-template>
      <ng-container *ngIf="!speakersListVisible; else cancelSpeakersList">
        <button mat-stroked-button (click)="showSpeakersList()">
          Показать список спикеров
        </button>
      </ng-container>
      <ng-template #cancelSpeakersList>
        <button mat-stroked-button (click)="hideSpeakersList()">
          Отмена
        </button>
      </ng-template>
      <button mat-stroked-button color="accent" (click)="deleteThisEvent()">
        Удалить ивент
      </button>
    </ng-container>
    </ng-container>
  </mat-card-actions>
  <ng-container *ngIf="isDashboardMode">

    <app-event-editor *ngIf="changeEventVisible"
                      (endChanging)="changeEvent($event)"
                      [event]="event"
                      [conferenceId]="event.conferenceId">
    </app-event-editor>

    <app-speakers-list *ngIf="speakersListVisible"
                       [event]="event">
    </app-speakers-list>
  </ng-container>
</mat-card>
