<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card id="conference">
    <mat-card-header>
      <mat-card-title>
        <h2>
          {{conference.conferenceName}}
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        Время начала: {{conference.details.dateStart | date: 'EEEE, d MMMM, y, h:mm':'UTC+3':'ru'}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Время окончания: {{conference.details.dateEnd | date: 'EEEE, d MMMM, y, h:mm':'UTC+3': 'ru'}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br>
      <h3>Место проведения мероприятия: {{conference.details.location}}</h3>
      <br>
      <br>
      <img class="image" *ngIf="conference.details.linkImage !== null; else elseBlock" src="{{conference.details.linkImage}}" alt="av">
      <ng-template #elseBlock>
        <img class="image" src="https://www.timacad.ru/uploads/media/cache/full_image/uploads/images/20190516/1557989444_35110be17b335260b304bc48e66f668b.jpg" alt="Conference avatar">
      </ng-template>

      <mat-divider></mat-divider>
      <br>
      <h2 fxLayoutAlign="center center">Описание конференции "{{conference.conferenceName}}"</h2>
      <mat-divider></mat-divider>
      <br>
      <div [innerHTML]="conference.details.htmlDescription">
      </div>
      <a mat-button routerLink="/conferences/{{conference.conferenceId}}/album"> Фото</a>
    </mat-card-content>
  </mat-card>
  <mat-toolbar color="primary" fxLayoutAlign="center center">
    <h1>
      Мероприятия конференции "{{conference.conferenceName}}"
    </h1>
  </mat-toolbar>
</div>

<div fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="15px">
  <div *ngFor="let event of events">
    <br>
    <app-event [event]="event"></app-event>
    <br>
  </div>
</div>

