<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
        {{event.eventName}}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <h3>Location:</h3>
    {{event.details.location}}
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h2>About {{event.eventName}}</h2>
    <mat-divider></mat-divider>
    <br>
    <div>
      {{event.details.htmlDescription}}
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="true">
    <a mat-button  routerLink="/about-conference/{{event.conferenceId}}">
      Show conference info
    </a>
    <button mat-button
            (click)="showChangeEvent()">
      Change event
    </button>
    <button mat-button
            *ngIf="changeEventVisible"
            (click)="hideChangeEvent()">
      Close change event place
    </button>
  </mat-card-actions>
</mat-card>
<app-change-event
  [event]="this.event"
  *ngIf="changeEventVisible"
  (close)="hideChangeEvent()"
></app-change-event>

