p {
  font-family: Lato;
}

.user-card {
  max-width: 100%;
  margin: 10px;
  background-color:thistle;
}

.user-image {
  background-image: url('https://sun9-21.userapi.com/c850136/v850136968/d1b2b/TiPdxf2idwM.jpg?ava=1');
  background-size: cover;
}
.user-icon{
  color: gray;
  margin-left: 200px;
}
